<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly authors
  ~ SPDX short identifier: Apache-2.0
-->
<module xmlns="urn:jboss:module:1.9" name="jakarta.mvc.api">

    <resources>
        <artifact name="${jakarta.mvc:jakarta.mvc-api}"/>
    </resources>

    <dependencies>
        <module name="jakarta.annotation.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.validation.api"/>
        <module name="jakarta.ws.rs.api"/>
    </dependencies>
</module>
